*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-x: hidden;
}

#hero{
    width: 100%;
    height: auto;
    background-color: #FAFAFD;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    /* border: 1px solid; */
    background-color: #FAFAFD;
    padding: 30px 25px;
}

.brand{
    font-size: 25px;
    font-weight: 800;
    color: #333333;
}

.highlight{
    color: #0ea8f5;
}

.nav-items{
    margin-left: 25%;
    width: auto;
    padding: 5px;

     
}

.nav-link{
    text-decoration: none;
    color: #333333;
    padding: 0px 25px;
    font-size: 16px;
    font-weight: 600;
}

.hero-body{
   width: 100%;
   height: 90vh;
   display: flex;
   flex-direction: column;
   /* border: 1px solid; */
   background-color: #FAFAFD;
   align-items: center;
   justify-content: center;
   margin-top: 150px;

}

.mesh{
    display: flex;
    flex-direction: row;
}

.social-links{
    width: 100%;
    height: 200px;
    /* border: 1px solid; */
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.social-link a{
    font-size: 35px;
    margin: 0px 35px;
    color: #00aaff;
    cursor: pointer;
}

.hero-text{
    /* border: 1px solid; */
    margin: 25px;
}

.main-text{
    font-size: 35px;
    font-weight: 600;
    color: #333333;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.main-highlight{
    color: #00aaff;
}

.sub-text{
    font-size: 18px;
    font-weight: 400;
    color: #666666;
    margin-bottom: 15px;
    
}

.description{
    font-size: 16px;
    color: #404040;
    margin-bottom: 50px;
}

.about-me-btn{
    padding: 10px 15px;
    margin-top: 100px;
    border: none;
    background-color: #00aaff;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    text-decoration:none;
}

.hero-image{
    width: 300px;
    height: auto;
    /* border: 1px solid; */
}


.mask-image{
    width: 200px;
    height: auto;
    background-color: #29B8FE;
   
}

/* end of hero */

#about{
    width: 100%;
    height: auto;
}

.about-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    
}

.about-title{
    font-size: 35px;
    font-weight: 600 ;
    color:#404040;
    margin-top: 50px;
}

.about-title-sub-title{
    font-size: 15px;
    font-weight: 400 ;
    color:#333333;
     
}

.about-description-box{
    /* width: 100%; */
    height: auto;
    display: flex;
    margin-top: 30px;
}

.about-image{
    width: 300px;
    margin: 15px;
    height: auto;
    margin-left: 45px;
    margin-right: 45px;
    border-radius: 5px;
}
.mask-image-about{
    width: 150px;
}

.about-description{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    margin: 15px;
    
}

.a-description{
    margin-bottom: 25px;
    color: #404040;
    margin: 15px;
}

.about-links{
    display: flex;
    margin-top: 50px;
    width: auto;
    flex-direction: column;
    /* position: relative; */
    /* left: 10px; */
}

.about-links div {
    margin-bottom: 25px;
}

.about-me-btn-1{
    padding: 10px 15px;
    margin-top: 25px;
    border: none;
    background-color: #00aaff;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}


.tech-brands{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    /* border: 1px solid ; */
      
     flex-wrap: wrap;
     z-index: 10;
     
     
}

.tech-brand {
    margin: 30px;
}

#qualifications{
    width: 100%;
    height: auto;
    background-color: #FAFAFD;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
    z-index: 100;
}

/* .q-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.q-title{
    font-size: 35px;
    font-weight: 600;
    color: #404040;
    /* position: relative;
    bottom:100px; */
    margin-top: 50px;
    z-index: 1;
}

.sub-title-q{
    /* position: relative;
    bottom:100px; */
    font-size: 15px;
    font-weight: 400 ;
    color:#333333;
    margin-bottom: 50px;
    z-index: 1;
}


.swiper {
    width: 620px;
    height: 440px;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    background-color: #00aaff;
    border: 1px solid #666666;
  }

  .note{
    width: 50%;
    height: auto;
    padding: 25px;
    background-color: #f0a80d;
    margin-top: 50px;
    border-radius: 5px;
    margin-bottom: 150px;
  }

  .verify-link{
    text-decoration: none;
    color: #404040;
    cursor: pointer;
  }



  #contact{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .contact-container{
    display: flex;
    align-items: center;
    justify-content: center;
  }

.slide-1{
    width: 50%;
     
}


.slide-2{
    width: 50%;
    display: flex;
    flex-direction: column;
   justify-content: center;
     padding: 50px ;
     align-items: center;
    
}

.input-text{
    padding: 10px 25px;
    border: none;
    font-size: 16px;
    background-color: #FAFAFD;
    border-bottom: 2px solid #00aaff;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 400px;
   
}

textarea{
    width: auto;
    height: auto;
    margin-bottom: 25px;
    border: none;
    background-color: #FAFAFD;
    border-bottom: 2px  solid #00aaff;
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 5px;
    width: 400px;
}

.contact-title{
    font-size: 35px;
    font-weight: 600 ;
    color:#404040;
    margin-top: 50px;
}

.btn-send{
    padding: 15px ;
    font-size: 18px;
    border: none;
    color: #fff;
    background-color: #00aaff;
    border-radius: 5px;
    cursor: pointer;
}
 
.canvas{
    
    font-size: 25px;
    color: #00aaff;
    position: relative;
    left: 150px;
    display: none;

}

.canvas a{
    text-decoration: none;
    color: #00aaff;
    margin-right: 25px;
    
}
.email-icon{
    font-size: 75px;
    color: #00aaff;
}

.label{
    font-size: 18px;
    color: #666666;
}

.detail{
    font-size: 16px;
    color: #404040;
}

  @media only screen and (max-width: 800px){
    .mesh{
        flex-direction: column;
    }
    .hero-text{
        order: 2;
    }
    .hero-image{
        margin-top: 35px;
        order: 1;
          
         
    }
    .about-image{
      margin-left: 0px;
      margin-right: 0px;  
    }

    .about-description-box{
        flex-direction: column;
        align-items: center;
    }

    .about-links{
        /* flex-direction: row;
        text-align: center;
        margin: auto; */
        display: none;
    }
    
.swiper {
    width: 350px;
    height: 250px;
  }

  #qualifications{
    margin-top:335px;
    z-index: 100;
  }
  
  .social-links{
    margin-bottom: 200px;
  }
  .about-container{
    margin-top: 100px;
  }

  .contact-container{
    flex-direction: column;
  }
  .nav-items{
    display: none;
  }

  .canvas{
    display: block;
  }

  .input-text{
    width: 300px;
    margin:10px auto;
  }
  .slide-2{
    width: 100%;
  }
  textarea{
    width: 300px;
    margin:10px auto;
  }

  .btn-send{
    width: 300px;
    margin:10px auto;
  }
  .note{
    width: auto;
  }
  }



  
  @media only screen and (max-width: 400px){
    .hero-image{
        
        margin: auto;
    }
    #hero{
        margin-bottom: 50px;
    }

    .hero-body{
        margin-top: 200px;
    }

    .canvas{
        left: 40px;
        width: auto;
    }
    .about-title{
        margin-top: 100px;
    }
       
    
      .swiper {
        width: 300px;
        height: 200px;
      }
      .note{
        width: auto;
      }
 
      .q-title{
        margin-top: 150px;
      }

     
        .input-text{
            width: 300px;
            margin:10px auto;
          }

          .slide-2{
            width: 100%;
          }
 
  }